.App-header{
    background-color: var(--grey-blue);
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
}

.App-logo{
    height: 15vh;
}

